
@import "general.css";

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  }
  @-webkit-keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
  @keyframes fadeInLeft {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
  }
.ad{
  animation-delay: 2s;
}
.fadeInRight{
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
 }
@-webkit-keyframes fadeInRight {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
}
@keyframes fadeInRight {
  0% {
  opacity: 0;
  -webkit-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
  }
  100% {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  }
} 

body{
	font-family:  "Montserrat", "Verdana", "Trebuchet MS", "Arial";
}

#nav{
padding-right: 5vw;
}

#hero-quote{
	box-sizing: border-box;
	border-radius: 10px;
}

.but{
	box-sizing: border-box;
	border-radius: 5px;
}

#right-hero{
	margin: 5% 5% 0% 0%;
}

#stack div:first-child{
	margin-bottom: 4vh;
}

#stacks div{
	margin-top: 4vh;
	border-radius: 10px;
	font-size: large;
}

#stacks div div{
	padding:  1% 2% 1% 2%;
}

#buttons button{
	padding: 5px;
	min-width: 10vw;
	font-size: large;
	margin-bottom: 1vh;
	margin-right: 1vw;
	background-color: black;
	color: white;
	border-radius: 5px;
	padding: 1% 2% 1% 2%;
}

#buttons button:hover{
	background-color: grey;
}

.stacklist p:last-child{
	margin-top: 10%;
	font-size: medium;
}

#rightstack div{
	min-height: 150px;
}


#leftstack div{
	min-height: 250px;
}


#leftstack .stacklist p:last-child{
	margin-top: 20%;
}

#socials{
	padding-top: 3%;
	padding-bottom: 5%;
}

#welcomeUX { 
  width: 100vw;
  transition: width 0.8s linear;
}
 

.socialItems div{
	padding-bottom: 5%;
	padding-right: 5%;
	padding-left: 2%;
}

.socialItems div svg{
	margin: 50px 0% 5% 20%;
}

.nobul{
	padding-left: -3vw;
}

.nobul li{
	font-weight: bold;
	padding-left: 3vw;
}


.cbcol1{
	background-color: #F2E9E9;
}
.cbcol2{
	background-color: #BEEF9D;
}

a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: overline;
}

a:hover svg{
	opacity: 0.5;
}

button a:visited{ 
	color: white;
}

button:hover{
	background-color: grey;
}

.imageShow{
	min-height: 60vh;
	width: 50vw
}

.imageM{
	width:18vw; 
	height:auto
}

.imageL{
	width:25vw; 
	height:auto
}

.imageS{
	width:10vw; 
	height:auto
}

#hero-design {
	height: 400px;
}

#hero-design div:last-child{
	transform: translate(0, -50px);
} 

#icon{
	right: 7vw;
}

#foot-mes{
	background-image: linear-gradient(90deg, transparent,transparent,transparent,transparent,white,white,white,white);
	/*background-color: rgba(255, 255, 255, 0.8);*/
}
 
.dropdown-content {
  display: none;
  position: absolute;
  right: 10px;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px;
  z-index: 4;
}

#menu-icon:hover .dropdown-content {
  display: block;
}

@media screen and (max-width: 1000px){//smaller than
 .imageShow{
	min-height: 60vh;
	width: 100vw
}

.imageM{
	width:36vw; 
	height:auto
}

.imageL{
	width:50vw; 
	height:auto
}

.imageS{
	width:20vw; 
	height:auto
}

	
}

@media screen and (min-width: 1000px){//bigger than
 .imageShow{
	min-height: 60vh;
	width: 50vw
}

.imageM{
	width:18vw; 
	height:auto
}

.imageL{
	width:25vw; 
	height:auto
}

.imageS{
	width:10vw; 
	height:auto
}

}